.message {
  width: max-content;
  min-height: 34px;
  border-radius: 15px;
  font-size: 17px;
  line-height: 20px;
  color: #000;
  padding: 7px 12px;
  background: #E5E5EA;
  margin-bottom: 11px;
  align-self: flex-start;
  cursor: pointer;
  transition: .5s;
  word-break: break-all;
  max-width: calc(60%);
  position: relative;
  text-align: left;
  transform: scale(0.7);
  opacity: 0;
  &.receiver {
    background: #138AFB;
    margin-left: auto;
    color: #FFFFFF;
    .message__arrow {
      transform: scaleX(-1);
      right: -5px;
      left: auto;
    }
  }
  &__arrow {
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: 15px;
    height: 15px;
    background-size: contain;
    z-index: 9;
  }
  &.animation {
      transform: scale(1);
      opacity: 1;
  }
}

.message-img {
  margin-bottom: 11px;
  align-self: flex-start;
  cursor: pointer;
  transition: .3s;
  max-width: calc(50% - 10px);
  border-radius: 15px;
  overflow: hidden;
  transform: scale(0.6);
  opacity: 0;
  text-align: left;
  &.animation {
      transform: scale(1);
      opacity: 1;
  }
  &.receiver {
    margin-left: auto;
  }
  &__image {
      max-width: 100%;
  }
}